@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'posts';

.container-fluid {
  padding: 0;
}

.clearfix {
  clear: both;
}

.margin-top {
  margin-top: 1em;
}

body {
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-color: lighten(#F1C40F, 20%);

  div {

    nav {

      div {

        ul {
          margin-right: .5em;
        }
      }
    }
  }
}
