<ul class="list-group">
  <% @user.all_following[0..4].each do |following_user| %>

    <li class="list-group-item">
      <%= link_to following_user.name, following_user %> -
      <%= link_to 'Unfollow', unfollow_path(id: following_user.id), method: :post %>
    </li>

  <% end %>
</ul>
