<ul class="list-group">
  <% @users.each do |user| %>

    <li class="list-group-item">
      <%= user.name %> <span class="badge"><%= user.followers_count %></span> - <%= link_to 'Follow', follow_path(id: user.id), method: :post %>
    </li>

  <% end %>
</ul>
