<%= simple_form_for @post do |f| %>

  <div style="margin-bottom: 2em; margin-top: 2em;">
    <%= f.input :content, label: 'Flatter' %>
    <%= f.submit 'Compliment', class: 'btn btn-primary' %>
  </div>

<% end %>
<div class="clearfix"></div>
